/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all; }

html {
  font-size: 14px;
  font-family: Calibri; }

body {
  background-color: #fcfcfc; }

.border-top {
  border-top: 1px solid #e5e5e5; }

.border-bottom {
  border-bottom: 1px solid #e5e5e5; }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }

button.accept-policy {
  font-size: 1rem;
  line-height: inherit; }

select {
  width: 10em; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */ }

.hidden {
  visibility: hidden; }

.clearfix {
  clear: both; }

.page-header {
  font-size: 1.8rem;
  font-weight: 500; }

textarea.form-control {
  height: 10em; }

textarea.comment-control {
  height: 8em; }

.knowledge-content-box {
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  margin: 20px 0; }

.knowledge-content-text {
  padding: 10px; }

.knowledge-content-aside {
  padding: 10px;
  float: right;
  background-color: #f3f3f3;
  border-radius: 0 10px 0 10px;
  font-size: 0.8rem;
  margin: 0 0 10px 10px;
  max-width: 200px; }
  .knowledge-content-aside dt {
    font-weight: 400;
    color: #6c757d; }

.knowledge-content-comment {
  background-color: #f3f3f3;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  font-size: 0.8rem; }

.knowledge-concept-box {
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  width: 100%;
  margin: 10px 10px 0 0; }
  .knowledge-concept-box-header {
    background-color: #f3f3f3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px; }
  .knowledge-concept-box-content {
    padding: 10px; }
    .knowledge-concept-box-content ul {
      list-style: none;
      padding-left: 10px; }

.details-name {
  font-size: 3rem; }

.details-label {
  font-size: 1.5rem;
  color: #6c757d; }

.details-comment {
  font-size: 0.8rem; }
  .details-comment-label {
    color: #6c757d; }

.details-date {
  font-size: 0.8rem; }
  .details-date-label {
    color: #6c757d;
    font-size: 0.8rem; }

.home-box p {
  font-size: .9rem; }

.home-box h5 {
  font-size: 1.1rem;
  color: #008aff; }

.home-header {
  background: #92d6ff;
  background: linear-gradient(45deg, #92d6ff 0%, #de94ff 100%);
  -webkit-box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.75); }
  .home-header-text {
    font-size: 1.5rem; }

@media (min-width: 768px) {
  html {
    font-size: 16px; }
  .home-header-text {
    font-size: 2.5em; }
  .knowledge-concept-box {
    width: 40%; }
  .home-box {
    padding: 10px; } }

@media (min-width: 1024px) {
  .knowledge-concept-box {
    width: 30%; } }
